<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_reportPID</key>
	<integer>235</integer>
	<key>_reportProcessName</key>
	<string>searchd</string>
	<key>_reportTime</key>
	<string>2026-08-11-22-49-32</string>
	<key>age_corespotlight_index</key>
	<integer>59921865</integer>
	<key>age_heartbeat</key>
	<integer>25450249</integer>
	<key>config_global</key>
	<integer>0</integer>
	<key>config_locale</key>
	<string>en_SG</string>
	<key>count_memory_throttle</key>
	<integer>0</integer>
	<key>count_thermal_throttle</key>
	<integer>0</integer>
	<key>data_collection_error</key>
	<integer>0</integer>
	<key>duration_memory_throttle_seconds</key>
	<integer>0</integer>
	<key>duration_thermal_throttle_seconds</key>
	<integer>0</integer>
	<key>index_a_age</key>
	<integer>42905578</integer>
	<key>index_a_config</key>
	<integer>0</integer>
	<key>index_a_count_add_journaled</key>
	<integer>2</integer>
	<key>index_a_count_add_processed</key>
	<integer>2</integer>
	<key>index_a_count_add_request</key>
	<integer>2</integer>
	<key>index_a_count_delete_journaled</key>
	<integer>3</integer>
	<key>index_a_count_delete_processed</key>
	<integer>1</integer>
	<key>index_a_count_delete_request</key>
	<integer>0</integer>
	<key>index_a_count_drop</key>
	<integer>0</integer>
	<key>index_a_count_drop_total</key>
	<integer>0</integer>
	<key>index_a_count_open_clean</key>
	<integer>0</integer>
	<key>index_a_count_open_dirty</key>
	<integer>0</integer>
	<key>index_a_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_a_count_update_journaled</key>
	<integer>0</integer>
	<key>index_a_count_update_processed</key>
	<integer>0</integer>
	<key>index_a_count_update_request</key>
	<integer>0</integer>
	<key>index_a_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_a_max_journal_file_bytes</key>
	<integer>64</integer>
	<key>index_a_num_docids</key>
	<integer>335</integer>
	<key>index_a_num_file</key>
	<integer>94</integer>
	<key>index_a_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_a_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_a_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_a_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_a_num_journal_file</key>
	<integer>1</integer>
	<key>index_a_num_object_sdb</key>
	<integer>308</integer>
	<key>index_a_sdb_file_size_bytes</key>
	<integer>135168</integer>
	<key>index_a_sdb_shadow_file_size_bytes</key>
	<integer>135168</integer>
	<key>index_a_size_bytes</key>
	<integer>6878823</integer>
	<key>index_a_time_since_defrag_end</key>
	<integer>305620</integer>
	<key>index_a_time_since_defrag_start</key>
	<integer>305621</integer>
	<key>index_a_time_since_last_open_clean</key>
	<integer>122661</integer>
	<key>index_a_time_since_last_open_dirty</key>
	<integer>49773</integer>
	<key>index_a_time_since_merge_end</key>
	<integer>9327192</integer>
	<key>index_a_time_since_merge_start</key>
	<integer>9327192</integer>
	<key>index_a_time_since_merge_vacuum_end</key>
	<integer>21430</integer>
	<key>index_a_time_since_merge_vacuum_start</key>
	<integer>21434</integer>
	<key>index_a_time_since_sync_end</key>
	<integer>70</integer>
	<key>index_a_time_since_sync_start</key>
	<integer>70</integer>
	<key>index_b_age</key>
	<integer>11250252</integer>
	<key>index_b_config</key>
	<integer>0</integer>
	<key>index_b_count_add_journaled</key>
	<integer>0</integer>
	<key>index_b_count_add_processed</key>
	<integer>0</integer>
	<key>index_b_count_add_request</key>
	<integer>0</integer>
	<key>index_b_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_b_count_delete_processed</key>
	<integer>0</integer>
	<key>index_b_count_delete_request</key>
	<integer>0</integer>
	<key>index_b_count_drop</key>
	<integer>0</integer>
	<key>index_b_count_drop_total</key>
	<integer>2</integer>
	<key>index_b_count_open_clean</key>
	<integer>0</integer>
	<key>index_b_count_open_dirty</key>
	<integer>0</integer>
	<key>index_b_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_b_count_update_journaled</key>
	<integer>0</integer>
	<key>index_b_count_update_processed</key>
	<integer>0</integer>
	<key>index_b_count_update_request</key>
	<integer>0</integer>
	<key>index_b_creation_flags_index</key>
	<integer>67109698</integer>
	<key>index_b_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_b_creation_version_spotlight</key>
	<string>2418.4.13.104</string>
	<key>index_b_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_b_max_journal_file_bytes</key>
	<integer>0</integer>
	<key>index_b_num_docids</key>
	<integer>39</integer>
	<key>index_b_num_file</key>
	<integer>90</integer>
	<key>index_b_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_b_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_b_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_b_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_b_num_journal_file</key>
	<integer>0</integer>
	<key>index_b_num_object_sdb</key>
	<integer>39</integer>
	<key>index_b_sdb_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_b_sdb_shadow_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_b_size_bytes</key>
	<integer>1311392</integer>
	<key>index_b_time_since_defrag_end</key>
	<integer>305620</integer>
	<key>index_b_time_since_defrag_start</key>
	<integer>305621</integer>
	<key>index_b_time_since_last_open_clean</key>
	<integer>49775</integer>
	<key>index_b_time_since_last_open_dirty</key>
	<integer>1847698</integer>
	<key>index_b_time_since_merge_end</key>
	<integer>9327192</integer>
	<key>index_b_time_since_merge_start</key>
	<integer>9327192</integer>
	<key>index_b_time_since_merge_vacuum_end</key>
	<integer>24527</integer>
	<key>index_b_time_since_merge_vacuum_start</key>
	<integer>24527</integer>
	<key>index_b_time_since_sync_end</key>
	<integer>70</integer>
	<key>index_b_time_since_sync_start</key>
	<integer>70</integer>
	<key>index_c_age</key>
	<integer>59921865</integer>
	<key>index_c_config</key>
	<integer>0</integer>
	<key>index_c_count_add_journaled</key>
	<integer>348</integer>
	<key>index_c_count_add_processed</key>
	<integer>265</integer>
	<key>index_c_count_add_request</key>
	<integer>271</integer>
	<key>index_c_count_delete_journaled</key>
	<integer>610</integer>
	<key>index_c_count_delete_processed</key>
	<integer>85</integer>
	<key>index_c_count_delete_request</key>
	<integer>525</integer>
	<key>index_c_count_drop</key>
	<integer>0</integer>
	<key>index_c_count_drop_total</key>
	<integer>0</integer>
	<key>index_c_count_open_clean</key>
	<integer>0</integer>
	<key>index_c_count_open_dirty</key>
	<integer>0</integer>
	<key>index_c_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_c_count_update_journaled</key>
	<integer>863</integer>
	<key>index_c_count_update_processed</key>
	<integer>1086</integer>
	<key>index_c_count_update_request</key>
	<integer>831</integer>
	<key>index_c_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_c_max_journal_file_bytes</key>
	<integer>89452</integer>
	<key>index_c_num_docids</key>
	<integer>59447</integer>
	<key>index_c_num_file</key>
	<integer>95</integer>
	<key>index_c_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_c_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_c_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_c_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_c_num_journal_file</key>
	<integer>3</integer>
	<key>index_c_num_object_sdb</key>
	<integer>55624</integer>
	<key>index_c_sdb_file_size_bytes</key>
	<integer>49369088</integer>
	<key>index_c_sdb_shadow_file_size_bytes</key>
	<integer>49369088</integer>
	<key>index_c_size_bytes</key>
	<integer>179657866</integer>
	<key>index_c_time_since_defrag_end</key>
	<integer>305619</integer>
	<key>index_c_time_since_defrag_start</key>
	<integer>305620</integer>
	<key>index_c_time_since_last_open_clean</key>
	<integer>701924</integer>
	<key>index_c_time_since_last_open_dirty</key>
	<integer>49773</integer>
	<key>index_c_time_since_merge_end</key>
	<integer>707526</integer>
	<key>index_c_time_since_merge_start</key>
	<integer>707532</integer>
	<key>index_c_time_since_merge_vacuum_end</key>
	<integer>25111</integer>
	<key>index_c_time_since_merge_vacuum_start</key>
	<integer>25118</integer>
	<key>index_c_time_since_sync_end</key>
	<integer>837</integer>
	<key>index_c_time_since_sync_start</key>
	<integer>837</integer>
	<key>index_cx_age</key>
	<integer>59921798</integer>
	<key>index_cx_config</key>
	<integer>0</integer>
	<key>index_cx_count_add_journaled</key>
	<integer>0</integer>
	<key>index_cx_count_add_processed</key>
	<integer>0</integer>
	<key>index_cx_count_add_request</key>
	<integer>0</integer>
	<key>index_cx_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_cx_count_delete_processed</key>
	<integer>0</integer>
	<key>index_cx_count_delete_request</key>
	<integer>0</integer>
	<key>index_cx_count_drop</key>
	<integer>0</integer>
	<key>index_cx_count_drop_total</key>
	<integer>0</integer>
	<key>index_cx_count_open_clean</key>
	<integer>0</integer>
	<key>index_cx_count_open_dirty</key>
	<integer>0</integer>
	<key>index_cx_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_cx_count_update_journaled</key>
	<integer>0</integer>
	<key>index_cx_count_update_processed</key>
	<integer>0</integer>
	<key>index_cx_count_update_request</key>
	<integer>0</integer>
	<key>index_cx_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_cx_max_journal_file_bytes</key>
	<integer>0</integer>
	<key>index_cx_num_docids</key>
	<integer>2</integer>
	<key>index_cx_num_file</key>
	<integer>89</integer>
	<key>index_cx_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_cx_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_cx_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_cx_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_cx_num_journal_file</key>
	<integer>1</integer>
	<key>index_cx_num_object_sdb</key>
	<integer>34</integer>
	<key>index_cx_sdb_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_cx_sdb_shadow_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_cx_size_bytes</key>
	<integer>1029770</integer>
	<key>index_cx_time_since_defrag_end</key>
	<integer>305620</integer>
	<key>index_cx_time_since_defrag_start</key>
	<integer>305620</integer>
	<key>index_cx_time_since_last_open_clean</key>
	<integer>49775</integer>
	<key>index_cx_time_since_last_open_dirty</key>
	<integer>11251991</integer>
	<key>index_cx_time_since_merge_vacuum_end</key>
	<integer>25156</integer>
	<key>index_cx_time_since_merge_vacuum_start</key>
	<integer>25156</integer>
	<key>index_cx_time_since_sync_end</key>
	<integer>843</integer>
	<key>index_cx_time_since_sync_start</key>
	<integer>843</integer>
	<key>index_mail_age</key>
	<integer>59921832</integer>
	<key>index_mail_config</key>
	<integer>0</integer>
	<key>index_mail_count_add_journaled</key>
	<integer>2</integer>
	<key>index_mail_count_add_processed</key>
	<integer>0</integer>
	<key>index_mail_count_add_request</key>
	<integer>2</integer>
	<key>index_mail_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_mail_count_delete_processed</key>
	<integer>0</integer>
	<key>index_mail_count_delete_request</key>
	<integer>0</integer>
	<key>index_mail_count_drop</key>
	<integer>0</integer>
	<key>index_mail_count_drop_total</key>
	<integer>0</integer>
	<key>index_mail_count_open_clean</key>
	<integer>0</integer>
	<key>index_mail_count_open_dirty</key>
	<integer>0</integer>
	<key>index_mail_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_mail_count_update_journaled</key>
	<integer>31</integer>
	<key>index_mail_count_update_processed</key>
	<integer>42</integer>
	<key>index_mail_count_update_request</key>
	<integer>31</integer>
	<key>index_mail_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_mail_max_journal_file_bytes</key>
	<integer>32953</integer>
	<key>index_mail_num_docids</key>
	<integer>807</integer>
	<key>index_mail_num_file</key>
	<integer>108</integer>
	<key>index_mail_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_mail_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_mail_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_mail_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_mail_num_journal_file</key>
	<integer>3</integer>
	<key>index_mail_num_object_sdb</key>
	<integer>605</integer>
	<key>index_mail_sdb_file_size_bytes</key>
	<integer>69632</integer>
	<key>index_mail_sdb_shadow_file_size_bytes</key>
	<integer>69632</integer>
	<key>index_mail_size_bytes</key>
	<integer>11919782</integer>
	<key>index_mail_time_since_defrag_end</key>
	<integer>305620</integer>
	<key>index_mail_time_since_defrag_start</key>
	<integer>305621</integer>
	<key>index_mail_time_since_last_open_clean</key>
	<integer>49775</integer>
	<key>index_mail_time_since_last_open_dirty</key>
	<integer>432958</integer>
	<key>index_mail_time_since_merge_end</key>
	<integer>432955</integer>
	<key>index_mail_time_since_merge_start</key>
	<integer>432958</integer>
	<key>index_mail_time_since_merge_vacuum_end</key>
	<integer>25173</integer>
	<key>index_mail_time_since_merge_vacuum_start</key>
	<integer>25173</integer>
	<key>index_mail_time_since_sync_end</key>
	<integer>843</integer>
	<key>index_mail_time_since_sync_start</key>
	<integer>843</integer>
	<key>index_priority_age</key>
	<integer>59921797</integer>
	<key>index_priority_config</key>
	<integer>0</integer>
	<key>index_priority_count_add_journaled</key>
	<integer>409</integer>
	<key>index_priority_count_add_processed</key>
	<integer>409</integer>
	<key>index_priority_count_add_request</key>
	<integer>409</integer>
	<key>index_priority_count_delete_journaled</key>
	<integer>646</integer>
	<key>index_priority_count_delete_processed</key>
	<integer>323</integer>
	<key>index_priority_count_delete_request</key>
	<integer>325</integer>
	<key>index_priority_count_drop</key>
	<integer>0</integer>
	<key>index_priority_count_drop_total</key>
	<integer>0</integer>
	<key>index_priority_count_open_clean</key>
	<integer>0</integer>
	<key>index_priority_count_open_dirty</key>
	<integer>0</integer>
	<key>index_priority_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_priority_count_update_journaled</key>
	<integer>1113</integer>
	<key>index_priority_count_update_processed</key>
	<integer>1233</integer>
	<key>index_priority_count_update_request</key>
	<integer>1105</integer>
	<key>index_priority_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_priority_max_journal_file_bytes</key>
	<integer>249</integer>
	<key>index_priority_num_docids</key>
	<integer>28719</integer>
	<key>index_priority_num_file</key>
	<integer>154</integer>
	<key>index_priority_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_priority_num_index_gen_non_compacted</key>
	<integer>4</integer>
	<key>index_priority_num_index_gen_read_only</key>
	<integer>4</integer>
	<key>index_priority_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_priority_num_journal_file</key>
	<integer>3</integer>
	<key>index_priority_num_object_sdb</key>
	<integer>3925</integer>
	<key>index_priority_sdb_file_size_bytes</key>
	<integer>2592768</integer>
	<key>index_priority_sdb_shadow_file_size_bytes</key>
	<integer>2592768</integer>
	<key>index_priority_size_bytes</key>
	<integer>29947002</integer>
	<key>index_priority_time_since_defrag_end</key>
	<integer>305620</integer>
	<key>index_priority_time_since_defrag_start</key>
	<integer>305621</integer>
	<key>index_priority_time_since_last_open_clean</key>
	<integer>49774</integer>
	<key>index_priority_time_since_last_open_dirty</key>
	<integer>432958</integer>
	<key>index_priority_time_since_merge_end</key>
	<integer>122848</integer>
	<key>index_priority_time_since_merge_start</key>
	<integer>122854</integer>
	<key>index_priority_time_since_merge_vacuum_end</key>
	<integer>25170</integer>
	<key>index_priority_time_since_merge_vacuum_start</key>
	<integer>25172</integer>
	<key>index_priority_time_since_sync_end</key>
	<integer>60</integer>
	<key>index_priority_time_since_sync_start</key>
	<integer>60</integer>
	<key>system_fs_free_space_bytes</key>
	<integer>118452858880</integer>
	<key>system_fs_mount_flags</key>
	<integer>343969944</integer>
	<key>system_fs_total_space_bytes</key>
	<integer>511415898112</integer>
	<key>system_fs_type</key>
	<string>apfs</string>
	<key>system_total_ram_gb</key>
	<integer>8</integer>
	<key>system_volume_flags</key>
	<integer>18296925792237518977</integer>
	<key>time_since_last_heartbeat</key>
	<integer>7180</integer>
	<key>time_since_launch_1</key>
	<integer>49783</integer>
	<key>time_since_launch_2</key>
	<integer>122854</integer>
	<key>time_since_launch_3</key>
	<integer>432959</integer>
	<key>time_since_software_update</key>
	<integer>385574</integer>
	<key>version_build</key>
	<string>24A5408d</string>
	<key>version_build_previous</key>
	<string>24A5390f</string>
	<key>version_spotlight</key>
	<string>2459.102</string>
	<key>version_spotlight_previous</key>
	<string>2454.100</string>
	<key>version_train_previous</key>
	<string>24A5390f</string>
</dict>
</plist>
