name: PR Basic Check

on:
  pull_request:
    types: [opened, reopened]
    branches:
      - master
jobs:
  simple_compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Cache Gradle
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-app-${{ github.sha }}
          restore-keys: |
            gradle-

      - name: Build apk with Gradle
        run: bash ./gradlew assembleRelease
